<div class="circle">

<p>lorem c tdrdgfztf ztftu fztufztfztfz hg gf fztf fztf txdtr  f tdt rzztdzti fdrs</p>

</div>

<div class="circle2">

<p>lorem c tdrdgfztf ztftu fztufztfztfz hg gf fztf fztf txdtr  f tdt rzztdzti fdrs</p>

</div>

<div class="circle3">

<p>lorem c tdrdgfztf ztftu fztufztfztfz hg gf fztf fztf txdtr  f tdt rzztdzti fdrs</p>

</div>